.RadTileList_Telerik {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: black; }
  .RadTileList_Telerik .rtlistWideTile,
  .RadTileList_Telerik .rtlistSquareTile,
  .RadTileList_Telerik .rtlistPeekContent {
    background-color: #e5e5e5; }
  .RadTileList_Telerik .rtlistGroupSeparatorVisible {
    background-color: #d5f2cc; }
  .RadTileList_Telerik .rtlistSelectedTile {
    border-color: #2ebf00; }
  .RadTileList_Telerik .rtlistHoveredTile {
    border-color: #828282; }
  .RadTileList_Telerik .rtlistSelectedTile.rtlistHoveredTile {
    border-color: rgba(255, 207, 72, 0.7); }
  .RadTileList_Telerik .rtlistSelectedTile .rtlistSelectedIcon {
    background-image: url('TileList/rtlistSprite.png');
    _background-image: url('TileList/rtlistSpriteIE6.png'); }
  .RadTileList_Telerik.RadTileList .rtlistTitle {
    color: black; }
