.RadNotification_Default {
  border: 1px solid #8a8a8a;
  background-color: #eeeeee;
  /* base style overwrites */ }
  .RadNotification_Default.rnShadows {
    box-shadow: 2px 2px 3px #b0b0b0; }
  .RadNotification_Default .rnTitleBar,
  .RadNotification_Default .rnCommands a {
    background-image: url('Notification/NotificationSprite.png'); }
  .RadNotification_Default .rnTitleBar {
    border-bottom: 1px solid transparent; }
  .RadNotification_Default .rnContentWrapper {
    border-top: 1px solid transparent; }
  .RadNotification_Default .rnCommands {
    margin: 4px 0 0; }

