/* <RadMenu / Black> */

/*@font-face*/
/*@font-face
{
    font-family: 'Aller Regular';
    src: url('/font/aller_rg.eot');
    src: local('Aller Regular'), url('/font/aller_rg.woff') format('woff'), url('/font/aller_rg.ttf') format('truetype'), url('/font/aller_rg.svg#webfont') format('svg');
}

@font-face
{
    font-family: 'Aller Bold';
    src: url('/font/aller_bd.eot');
    src: local('Aller Bold'), url('/font/aller_bd.woff') format('woff'), url('/font/aller_bd.ttf') format('truetype'), url('/font/aller_bd.svg#webfont') format('svg');
}*


/*Hand cursor*/
.RadMenu_RichTemplate a span
{
    cursor: pointer;
}

/* NEW TEMPLATE RAD MENU STYLES - START
/* Top Level Items */
.RadMenu_RichTemplate .rmLink 
{
    padding: 0px 0px 0px 0px !IMPORTANT;
    margin: 0px 0px 0px 0px !IMPORTANT;
}
.RadMenu_RichTemplate .rmRootGroup span.rmText
{
    margin: 0px 0px 0px 0px !IMPORTANT;
    padding: 10px 12px 10px 12px !IMPORTANT;
}



/* NEW TEMPLATE RAD MENU STYLES - END */
.RadMenu_RichTemplate .rmRootGroup, .RadMenu_RichTemplate .rmLink, .RadMenu_RichTemplate .rmText, .RadMenu_RichTemplate .rmLeftArrow, .RadMenu_RichTemplate .rmRightArrow, .RadMenu_RichTemplate .rmTopArrow, .RadMenu_RichTemplate .rmBottomArrow
{
    /* background-image: url( 'Menu/rmSprite3.gif' );*/
    background-color: transparent;
}

.RadMenu_RichTemplate .rmRootGroup
{
    background-repeat: repeat-x; /* background-color: #000000;*/
    background-position: 0 -408px;
}
.RadMenu_RichTemplate .rmRootGroup .rmLink
{
    font-family: "Aller Regular" , sans-serif;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    /*padding-left: 17px;*/
    cursor: hand;
}

.RadMenu_RichTemplate .rmRootGroup .rmLink:hover
{
    /* color:#A90000; */
}

.RadMenu_RichTemplate .rmVertical
{
    background-position: 0 -408px;
}

/* <Root items> */

.RadMenu_RichTemplate, .RadMenu_RichTemplate .rmGroup .rmLink
{
    font-family: "Aller Regular" , sans-serif;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    color: #525252;
    line-height:25px
}
.ThreeColumnMenu .rmSlide .rmMultiColumn ul, .ThreeColumnMenu .rmSlide .rmMultiColumn li
{
    margin:0px 0px 0px 0px !IMPORTANT;
}
.ThreeColumnMenu .rmSlide .rmMultiColumn li a div
{
    margin-right:10px !IMPORTANT;
}

.ThreeColumnMenu .rmGroup .rmLink
{
    color: #ffffff;
}

.RadMenu_RichTemplate .rmLink:hover
{
    color: #ca0101;
}

.RadMenu_RichTemplate .rmLink, .RadMenu_RichTemplate .rmText
{
    background-repeat: no-repeat;
    background-position: 0 500px;
}

/******** separators ********/

.RadMenu_RichTemplate .rmText
{
    /*
    background: url(/images/nav_divider.gif) top right no-repeat;
    background-position: right;
    */
}

.RadMenu_RichTemplate .rmLast .rmText
{
     background: none;
}

/******** endof separators ********/

.RadMenu_RichTemplate .rmLink:hover, .RadMenu_RichTemplate .rmFocused
{
    background-position: 0 -72px;
}

.RadMenu_RichTemplate .rmExpanded, .RadMenu_RichTemplate .rmExpanded:hover
{
    background-position: 0 -72px;
}

.RadMenu_RichTemplate .rmExpanded .rmText, .RadMenu_RichTemplate .rmExpanded:hover .rmText
{
    /* color:#A90000; */
}

.RadMenu_RichTemplate .rmLast .rmExpanded .rmText
{
    background-position: 0 500px;
    background-repeat: no-repeat;
}

.RadMenu_RichTemplate .rmDisabled, .RadMenu_RichTemplate .rmDisabled:hover
{
    color: #7d7d7d;
    background-position: 0 500px;
}

/* </Root items> */


/* <Submenu items> */



.RadMenu_RichTemplate .rmGroup .rmText
{
    background-image: url( 'Menu/rmSprite3.gif' );
}


.RadMenu_RichTemplate .rmGroup, .RadMenu_RichTemplate .rmGroup .rmVertical
{
    border: 1px solid #d1d1d1;
    background-color: #ffffff;
}

.RadMenu_RichTemplate .rmSlide .rmScrollWrap
{
    background-image: none;
}

.RadMenu_RichTemplate_rtl .rmGroup, .RadMenu_RichTemplate_rtl .rmGroup .rmVertical
{
    background-position: 100% 0;
}

.RadMenu_RichTemplate .rmRootGroup li.rmItem .rmGroup
{
    padding-bottom: 0;
    font-size:15px;
}

.RadMenu_RichTemplate .rmGroup li.rmLast
{
    padding-bottom: 1px;
}

.RadMenu_RichTemplate .rmRootGroup .rmHorizontal
{
    background-image: none;
}

.RadMenu_RichTemplate .rmScrollWrap .rmVertical
{
    border: 0;
}

.RadMenu_RichTemplate .rmGroup .rmItem .rmLink, .RadMenu_RichTemplate .rmGroup .rmItem .rmLink:hover, .RadMenu_RichTemplate .rmGroup .rmItem .rmFocused, .RadMenu_RichTemplate .rmGroup .rmItem .rmExpanded
{
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
}

.RadMenu_RichTemplate .rmGroup .rmLast .rmLink, .RadMenu_RichTemplate .rmGroup .rmLast .rmLink:hover, .RadMenu_RichTemplate .rmGroup .rmLast .rmFocused, .RadMenu_RichTemplate .rmGroup .rmLast .rmExpanded
{
    padding-bottom: 1px;
}

.RadMenu_RichTemplate .rmGroup .rmText
{
    padding: 0 54px 0 9px;
}

.RadMenu_RichTemplate .rmGroup .rmLink, .RadMenu_RichTemplate .rmGroup .rmText, .RadMenu_RichTemplate .rmGroup .rmItem .rmDisabled, .RadMenu_RichTemplate .rmGroup .rmItem .rmDisabled:hover, .RadMenu_RichTemplate .rmGroup .rmItem .rmDisabled .rmText, .RadMenu_RichTemplate .rmGroup .rmItem .rmDisabled:hover .rmText
{
    background-position: 0 500px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.RadMenu_RichTemplate .rmGroup .rmLink:hover, .RadMenu_RichTemplate .rmGroup .rmFocused, .RadMenu_RichTemplate .rmGroup .rmExpanded
{
}

.RadMenu_RichTemplate .rmGroup .rmLink:hover .rmText, .RadMenu_RichTemplate .rmGroup .rmFocused .rmText, .RadMenu_RichTemplate .rmGroup .rmExpanded .rmText
{
}

/* <expand arrows> */

.RadMenu_RichTemplate .rmGroup .rmExpandRight, .RadMenu_RichTemplate .rmGroup .rmExpandDown, .RadMenu_RichTemplate .rmGroup .rmItem .rmDisabled .rmExpandRight, .RadMenu_RichTemplate .rmGroup .rmItem .rmDisabled .rmExpandDown, .RadMenu_RichTemplate .rmGroup .rmItem .rmDisabled:hover .rmExpandRight, .RadMenu_RichTemplate .rmGroup .rmItem .rmDisabled:hover .rmExpandDown
{
    background-position: 100% -216px !important;
}

.RadMenu_RichTemplate .rmGroup .rmLink:hover .rmExpandRight, .RadMenu_RichTemplate .rmGroup .rmFocused .rmExpandRight, .RadMenu_RichTemplate .rmGroup .rmExpanded .rmExpandRight, .RadMenu_RichTemplate .rmGroup .rmLink:hover .rmExpandDown, .RadMenu_RichTemplate .rmGroup .rmFocused .rmExpandDown, .RadMenu_RichTemplate .rmGroup .rmExpanded .rmExpandDown
{
    background-position: 100% -240px !important;
}

.RadMenu_RichTemplate .rmGroup .rmDisabled:hover .rmExpandRight, .RadMenu_RichTemplate .rmGroup .rmDisabled:hover .rmExpandDown
{
    background-image: url( 'Menu/rmSprite.gif' ) !important;
    background-position: 100% -216px;
}

/* </expand arrows> */

/* </Submenu items> */

/* <Submenu offsets (Black - specific, overlapping submenus)> */

.RadMenu_RichTemplate .rmSlide
{
    margin: 0 0 0 14px;
}
/* 2nd Level Menu Items */
.RadMenu_RichTemplate .rmSlide ul.rmGroup
{
    background: none repeat scroll 0 0 #151411;
    border:1px solid #464239;
    margin:0px 0px 0px 0px !IMPORTANT;
}

.RadMenu_RichTemplate .rmSlide ul.rmGroup li
{
        margin:0px 0px 0px 0px !IMPORTANT;
}
.RadMenu_RichTemplate .rmSlide > ul.rmGroup > .rmItem > a > .rmText, .RadMenu_RichTemplate .rmSlide .rmItem > ul.rmGroup > .rmItem > a > .rmText
{
    color:#333333;
    padding:5px 5px 5px 5px !IMPORTANT;
    background: none repeat scroll 0 0 #E4E4E1;
    border-top:1px solid #464239;
}
.RadMenu_RichTemplate .rmSlide > ul.rmGroup > .rmFirst > a > .rmText, .RadMenu_RichTemplate .rmSlide .rmItem ul.rmGroup > .rmFirst > a > .rmText
{
    border-top:0px;
}
.RadMenu_RichTemplate .rmSlide > ul.rmGroup > .rmItem > a:hover > .rmText
{
    background: none repeat scroll 0 0 #BBB;
}

.RadMenu_RichTemplate .rmVertical .rmSlide, .RadMenu_RichTemplate .rmSlide .rmSlide, .RadMenu_RichTemplate_Context .rmGroup .rmSlide
{
    margin: 0 0 0 -2px;
}

.RadMenu_RichTemplate_rtl .rmSlide
{
    margin: 0 0 0 0;
}

.RadMenu_RichTemplate_rtl .rmFirst .rmSlide
{
    margin-left: 100px;
}

.RadMenu_RichTemplate_rtl .rmVertical .rmSlide, .RadMenu_RichTemplate_rtl .rmSlide .rmSlide, .RadMenu_RichTemplate_Context_rtl .rmGroup .rmSlide
{
    margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_RichTemplate .rmLeftArrow, .RadMenu_RichTemplate .rmRightArrow
{
    background-color: #4f4f4f;
}

.RadMenu_RichTemplate .rmLeftArrow
{
    background-position: -8px -312px;
    border-right: 1px solid #828282;
}
.RadMenu_RichTemplate .rmRightArrow
{
    background-position: -482px -216px;
    border-left: 1px solid #828282;
}

.RadMenu_RichTemplate .rmTopArrow, .RadMenu_RichTemplate .rmBottomArrow, .RadMenu_RichTemplate .rmGroup .rmLeftArrow, .RadMenu_RichTemplate .rmGroup .rmRightArrow
{
    background-color: #4f4f4f;
}

.RadMenu_RichTemplate .rmTopArrow
{
    background-position: 50% -367px;
    border-bottom: 1px solid #828282;
}
.RadMenu_RichTemplate .rmBottomArrow
{
    background-position: 50% -391px;
    border-top: 1px solid #828282;
}

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_RichTemplate .rmHorizontal .rmSeparator
{
    height: 26px;
    width: 3px;
    background-color: White;
}



.RadMenu_RichTemplate .rmHorizontal .rmSeparator .rmText, .RadMenu_RichTemplate .rmVertical .rmHorizontal .rmSeparator .rmText
{
    height: 26px;
    margin: 1px 0 0 !important;
    width: 1px;
    background: #ffffff transparent !important;
}

.RadMenu_RichTemplate_Context .rmSeparator .rmText, .RadMenu_RichTemplate .rmHorizontal .rmGroup .rmSeparator .rmText, .RadMenu_RichTemplate .rmVertical .rmHorizontal .rmGroup .rmSeparator .rmText
{
    background-color: transparent;
    background-position: 0 -406px;
}

div.RadMenu .rmGroup .rmText
{
    padding: 0 22px 0 11px; /* the last is the offset of the items */
    background-color: transparent;
}

/* </Separators> */

/* </RadMenu / Black> */

/* New Rad Menu Layout */
.ThreeColumnMenu .rmSlide > ul
{
	padding: 10px 15px;
}
.ThreeColumnMenu .rmSlide ul
{
	padding: 10px 15px;
	 
}
.ThreeColumnMenu > ul
{
    float: right !important;
  
 
}
.ThreeColumnMenu > ul > li
{
    margin-bottom: 0px !important;
    
}

.ThreeColumnMenu .rmSlide ul li
{
    list-style: none !important;
}
