<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
  </configSections>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <add name="RewriteSubMembers" virtualUrl="^~/Member/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Member/Interior.aspx?page=$2&amp;parent=$1" ignoreCase="true" />
      <add name="RewriteInteriorMembers" virtualUrl="^~/Member/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Member/Interior.aspx?page=$1" ignoreCase="true" />
      <add name="RewriteSubEducation" virtualUrl="^~/Education/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Education/Interior.aspx?page=$2&amp;parent=$1" ignoreCase="true" />
      <add name="RewriteInteriorEducation" virtualUrl="^~/Education/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Education/Interior.aspx?page=$1" ignoreCase="true" />
      <add name="RewriteTelerikDialogue" virtualUrl="Telerik.Web.UI.DialogHandler.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="Telerik.Web.UI.DialogHandler.aspx" ignoreCase="true" />
      <add name="RewriteTelerikProgress" virtualUrl="Telerik.RadUploadProgressHandler.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="Telerik.RadUploadProgressHandler.aspx" ignoreCase="true" />
      <add name="Rewrite" virtualUrl="^~/Default.aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Default.aspx" ignoreCase="true" />
      <add name="RewriteSub1" virtualUrl="^~/(.*)/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Interior.aspx?page=$2&amp;parent=$1" ignoreCase="true" />
      <add name="RewriteInterior" virtualUrl="^~/(.*).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Interior.aspx?page=$1" ignoreCase="true" />
    </rewrites>
  </urlrewritingnet>
  <dataConfiguration defaultDatabase="ConnectionString" />
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.\;Initial Catalog=richTemplate;User Id=;Password=" providerName="System.Data.SqlClient" />
    <add name="ConnectionString_RichTemplateCentral" connectionString="Data Source=.\;Initial Catalog=richCentral;User Id=;Password=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <cachingConfiguration defaultCacheManager="NSICache">
    <backingStores>
      <add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" />
    </backingStores>
    <cacheManagers>
      <add name="NSICache" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" />
    </cacheManagers>
  </cachingConfiguration>
  <appSettings>
    <!-- DOCUMENTS VIRTUAL DIRECOTRY -->
    <add key="DocumentVirtualDirectory" value="\data\" />
    <!-- DOCUMENT MODULE SETTINGS -->
    <add key="DocumentModuleRootDirectory" value="\data\DocumentModule\" />
    <!-- EMAIL SETTINGS -->
    <add key="EmailServer" value="mail.richtemplate.com" />
    <add key="smptAddress" value="secure.richtemplate.com" />
    <add key="smptUser" value="form@richtemplate.com" />
    <add key="smptPass" value="form101!2#4" />
    <!-- ERROR HANDLING SETTINGS -->
    <add key="ApplicationID" value="4" />
    <!-- GOOLGE MAP SETTINGS (use http://code.google.com/apis/maps/signup.html to generate a site key using http://DOMAIN_GOES_HERE.com -->
    <add key="googlemaps.subgurim.net" value="" />
    <add key="GoogleMapAPIKey" value="" />
    <!-- MEMBERSHIP SETTINGS -->
    <add key="Member_SiteAccessEveryoneDefault" value="false" />
    <!--SESSION SETTINGS-->
    <add key="SiteDomainForSessionSharing" value=".richtemplate.com" />
    <!-- Set the Value to 'localhost' if running the site under localhost, without the need for host files, otherwise use a DOT then the domain e.g. '.template.richtemplate.com' or for live just '.template.com'-->
    <!-- SITE SETTINGS -->
    <!-- SET THE IIS Site Name here (Remember %WinDir%/System32/inetsrv/config needs NETWORK SERVICE Permissions, and the application must run under Network Service Identity -->
    <add key="IIS_SiteName" value="richtemplate_com" />
    <!--<add key="IIS_SiteName" value="RichTemplate Intranet" />-->
    <add key="SiteMaxCount" value="999" />
    <add key="SiteWideLoginURL" value="http://richtemplate.com/Login/" />
    <!-- MISC SETTIGNS (PROBABLY BE REMOVED IN FUTURE) -->
    <add key="siteIsLive" value="true" />
    <add key="Telerik.Skin" value="Windows7" />
    <!-- ACTIVE DIRECTORY LDAP KEYS -->
    <add key="ActiveDirectory_LDAP_PerformImportInterval_InHours" value="1" />
    <add key="ActiveDirectory_LDAP_PerformImportWithThreading" value="true" />
    <add key="ActiveDirectory_LDAP_PublicAddress_Username" value="" />
    <add key="ActiveDirectory_LDAP_PublicAddress_Password" value="" />
    <!-- ActiveDirectory_LDAP_ImportGroups and ActiveDirectory_LDAP_ImportUsers are used to decide if we should import groups, users, or both users and groups -->
    <add key="ActiveDirectory_LDAP_ImportGroups" value="true" />
    <add key="ActiveDirectory_LDAP_ImportUsers" value="true" />
    <add key="ActiveDirectory_LDAP_UserGroup_Type" value="OU" />
    <add key="ActiveDirectory_LDAP_OU_Users" value="_Users" />
    <add key="ActiveDirectory_LDAP_OU_Groups" value="_Groups" />
    <add key="ActiveDirectory_LDAP_RootDSE" value="LDAP://dcrpriest.RichTemplate.com" />
    <!-- ActiveDirectory_LDAP Website specific Keys-->
    <add key="ActiveDirectory_LoginPage_FormsAuthentication" value="/Login/LoginForm.aspx" />
    <!--<add key="ActiveDirectory_LoginPage_WindowsAuthentication" value="/Login/WindowsAccount.aspx"/>-->
    <add key="ActiveDirectory_LogoutPage" value="/Logout.aspx" />
    <add key="ActiveDirectory_AppPoolName" value="iis apppool\integratedapppool" />
    <add key="ActiveDirectory_UseActiveDirectory" value="true" />
    <add key="ActiveDirectory_IntranetIPAddressPrefix" value="::1|192.168." />
    <add key="ActiveDirectory_IntranetExternalUrlPrefix" value="richtemplate.com|amsterdam.richtemplate.com" />
    <add key="ActiveDirectory_UltimateSearchUserAgent" value="UltimateSearchUserAgent_r!cht3mp1@t3" />
    <!-- MongoDB -->
    <add key="MongoDB_ConnectionString" value="mongodb://localhost" />
    <add key="MongoDB_DatabaseName" value="Test_richTemplate" />
  </appSettings>
  <system.web>
    <trust level="Full" />
    <httpRuntime maxRequestLength="102400" executionTimeout="3600" />
    <sessionState mode="SQLServer" sqlConnectionString="data source=.\; User Id=;Password=" cookieless="false" timeout="20" />
    <compilation defaultLanguage="c#" debug="true" strict="false" explicit="true" targetFramework="4.0">
      <codeSubDirectories>
        <add directoryName="CSCode" />
        <add directoryName="VBCode" />
      </codeSubDirectories>
      <assemblies>
        <!--<add assembly="System.Data.Services, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>-->
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <!--<forms loginUrl="Login/WindowsAccount.aspx"/>-->
      <forms loginUrl="Login" />
    </authentication>
    <!-- Deny access to anonymous users -->
    <authorization>
      <!--<deny users="?"/>-->
    </authorization>
    <customErrors mode="Off" defaultRedirect="Error.aspx">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <httpHandlers>
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <!--<authentication>
        <windowsAuthentication enabled="false" />
      </authentication>-->
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="1024000000" />
      </requestFiltering>
    </security>
    <modules>
      <!-- The following line, "UrlRewriteModule", is required by IIS7 -->
      <remove name="RadUploadModule" />
      <remove name="WebDAVModule" />
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode,runtimeVersionv2.0" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="PageHandlerFactory-ISAPI-4.0_32bit" />
      <remove name="PageHandlerFactory-ISAPI-4.0_64bit" />
      <remove name="PageHandlerFactory-ISAPI-2.0-64" />
      <remove name="PageHandlerFactory-ISAPI-2.0" />
      <remove name="PageHandlerFactory-Integrated-4.0" />
      <remove name="PageHandlerFactory-Integrated" />
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" /><remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" /><remove name="ExtensionlessUrlHandler-Integrated-4.0" /><add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" /><add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="PageHandlerFactory-Integrated" path="*.aspx" verb="GET,HEAD,POST,DEBUG,DELETE" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
      <add name="PageHandlerFactory-Integrated-4.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG,DELETE" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="PageHandlerFactory-ISAPI-2.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG,DELETE" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
      <add name="PageHandlerFactory-ISAPI-2.0-64" path="*.aspx" verb="GET,HEAD,POST,DEBUG,DELETE" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness64" responseBufferLimit="0" />
      <add name="PageHandlerFactory-ISAPI-4.0_64bit" path="*.aspx" verb="GET,HEAD,POST,DEBUG,DELETE" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="PageHandlerFactory-ISAPI-4.0_32bit" path="*.aspx" verb="GET,HEAD,POST,DEBUG,DELETE" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" /></handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <location path="Logout/default.aspx">
    <!-- If windows authentication fails on WinLogin.aspx, user gets directored to Login.aspx -->
    <system.web>
      <!-- Allow access to anonymous users -->
      <authorization>
        <!--<allow users="?"/>-->
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Logout">
    <!-- If windows authentication fails on WinLogin.aspx, user gets directored to Login.aspx -->
    <system.web>
      <!-- Allow access to anonymous users -->
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Login">
    <!-- If windows authentication fails on WinLogin.aspx, user gets directored to Login.aspx -->
    <system.web>
      <!-- Deny access to anonymous users -->
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Login/Default.aspx">
    <!-- If windows authentication fails on WinLogin.aspx, user gets directored to Login.aspx -->
    <system.web>
      <!-- Deny access to anonymous users -->
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Login/LoginForm.aspx">
    <!-- If windows authentication fails on WinLogin.aspx, user gets directored to Login.aspx -->
    <system.web>
      <!-- Deny access to anonymous users -->
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <!-- Disable Forms Authentication for this URL -->
  <location path="Login/WindowsAccount.aspx">
    <!-- Disable Forms Authentication -->
    <system.webServer>
      <security>
        <!-- Enable IIS Windows authentication for the login page -->
        <authentication>
          <windowsAuthentication enabled="true" />
          <anonymousAuthentication enabled="false" />
        </authentication>
      </security>
      <httpErrors existingResponse="PassThrough" />
    </system.webServer>
  </location>
  <!-- RichTemplate Admin handles its own Authentication for this URL -->
  <location path="admin">
    <system.web>
      <!-- Allow all access to anonymous users, as richtemplate admin handles its own authentication -->
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="richadmin">
    <system.web>
      <!-- Allow all access to anonymous users, as richtemplate admin handles its own authentication -->
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="getLdap.aspx">
    <system.web>
      <!-- Allow all access to anonymous users, as richtemplate admin handles its own authentication -->
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="error.aspx">
    <system.web>
      <!-- Allow all access to anonymous users, as richtemplate admin handles its own authentication -->
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <!-- Allow all access to anonymous users, as richtemplate admin handles its own authentication -->
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Telerik.RadUploadProgressHandler.ashx">
    <system.web>
      <!-- Allow all access to anonymous users, as richtemplate admin handles its own authentication -->
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="404.axpx">
    <system.web>
      <!-- Allow all access to anonymous users, as richtemplate admin handles its own authentication -->
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="502.axpx">
    <system.web>
      <!-- Allow all access to anonymous users, as richtemplate admin handles its own authentication -->
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="richtemplate.com" port="25" userName="form@richtemplate.com" password="form101!2#4" />
      </smtp>
    </mailSettings>
  </system.net>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="paypal_base" publicKeyToken="b37401294aaf5617" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.57.0" newVersion="4.4.57.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
